@import url("./normalize.css");
$height-input: 35px;
$height-button: 35px;
$border-radius: 5px;
$color-0: rgb(109, 133, 179);
$color-1: rgb(236, 88, 62);
$color-2: #ffffff;
$color-3: #ff9e0c;

%tmplInput {
  height: $height-input;
  border: 1px solid $color-0;
  border-radius: $border-radius;
  padding: 0;
  box-sizing: border-box;
  padding-left: 5px;
}

%tmplButton {
  height: $height-button;
  border: 1px solid $color-0;
  border-radius: $border-radius;
  background-color: $color-2;
  padding: 0 15px;
}

%tmpButtonHover {
  background-color: $color-1;
  color: $color-2;
  box-shadow: 0 0 10px $color-3;
  transition: 0.3s;
}

* {
  color: $color-0;
  font-family: sans-serif;
}

#root {
  margin: 0 auto;
  display: grid;
  gap: 15px;
  & > * {
    width: 315px;
    margin: 0 auto;
  }
}

.title,
.statistics,
.add-todo-form {
  text-align: center;
}

.search {
  @extend %tmplInput;
}

.filter-buttons {
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
  grid-gap: 3px;
}

.filter-buttons__btn {
  align-self: start;
}

.filter-buttons__btn_primary {
  @extend %tmplButton;
  background-color: $color-1;
  color: $color-2;
  box-shadow: 0 0 10px $color-1;
}

.filter-buttons__btn_secondary {
  @extend %tmplButton;
  &:hover {
    @extend %tmpButtonHover;
  }
}

.add-todo-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
}

.add-todo-form__input {
  @extend %tmplInput;
}

.add-todo-form__button {
  @extend %tmplButton;
  &:hover {
    @extend %tmpButtonHover;
  }
}

.todo-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-gap: 15px;
}

.todo-list__item {
  display: grid;
  grid-template-columns: 1fr 110px;
  align-items: center;
  justify-items: center;
}

.todo-list__item__label {
  justify-self: left;
  word-break: break-all;
  padding-left: 5px;
}

.todo-list__item__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
  justify-self: right;

  > * {
    display: grid;
    align-items: center;
    @extend %tmplButton;
    &:hover {
      @extend %tmpButtonHover;
    }
  }
}

.todo-list__item__label_done {
  text-decoration: line-through;
}

.todo-list__item__label_important {
  font-weight: bold;
}
